<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/styles/video.css">
    <link rel="stylesheet" href="../static/styles/main.css">

    <script src="https://kit.fontawesome.com/94ac63ee63.js" crossorigin="anonymous"></script>

    <!-- "Mulish", sans-serif -->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Kolker+Brush&family=Mulish:wght@700&family=Roboto+Slab:wght@700&display=swap');
    </style>

    <!-- "Marhey", cursive; -->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Kolker+Brush&family=Marhey:wght@700&family=Mulish:wght@700&family=Roboto+Slab:wght@700&display=swap');
    </style>
    
    <title>Object Detection with Inception V3 Model</title>
</head>
<body>
    <p id="notification-bar"></p>
    <nav>
        <p>Yogas</p>
        <span>About Project</span>
    </nav>
    <div id="wb-content">
        <div id="wb-content-controls">
            <div id="upload-video">
                <i class="fa-solid fa-arrow-up-from-bracket"></i>
            </div>
            <div id="image-listing">
                <i class="fa-regular fa-images"></i>
            </div>
        </div>
    </div>
    <form style="display:none;" action="/" method="POST" enctype="multipart/form-data">
        <input id="upload-video-file-input" type="file" name="video" accept="video/*" hidden/>
        <button id="btn-upload-video" type="submit">Upload Video</button>
    </form>
        {% block content %}
            {% if video %}
                <video id="video-element" muted="true" autoplay loop>
                    <source id="ins-up-video-source" src="{{ url_for('static', filename=video) }}" type="video/mp4">
                </video>
            {% else %}
                <video id="video-element" muted="true" autoplay loop>
                    <source id="ins-up-video-source" src="../static/assets/bg.mp4" type="video/mp4">
                </video>
            {% endif %}
        {% endblock content %}
        {% if index %}
        <div id="output-wrap">
            <div id="output-header">
                <p>Query Output</p>
                <i style="display: flex;" class="fa-solid fa-bars-staggered"></i>
            </div>
            <p style="display: none;" id="image-index">{{ index }} </p>
            <p id="predicted-class-name">{{ class_name }}</p>
            <img id="output-image" src="../static/assets/sunset.jpg" alt="predicted-image" />
        </div> 
        {% endif %}       
    <div id="images-list-wrap">
        <div id="h2"> 
            Frames Listing
            <div>
                <i class="fa-solid fa-xmark"></i>
            </div>
        </div>
        <div id="progress-bar">
            {%  if code %}
                <img class="badge-check" src="../static/assets/check.svg" alt="check badge" />
                <div id="progress-text">finished preparing frames</div>
            {% else %}
                <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
                <div id="progress-text">preparing frames</div>
            {% endif %}
        </div>
        {% if code %}
            <form action="/predict" id="search-query" method="post" enctype="multipart/form-data">
                <div class="textbox-wrap">
                    <input type="text" class="textbox-input" name="search_query" required />
                    <p class="textbox-label">search query</p>
                </div>
                <button id="search-btn" name="btnsearch" type="submit">search</button>
            </form>
        {% endif %}
        <div id="image-list">
            {% if images %}
                {% for image in images %}
                    <img class="frame-image" src="{{ url_for('static', filename=image) }}" />
                {% endfor %}    
            {% endif %}
        </div>
    </div>
    <!-- paragraph remains hidden -->
    <p style="display: none;" id="code-p">{{ code }}</p>
</body>
<script src="../static/scripts/play.js"></script>
<script src="../static/scripts/main.js"></script>
</html>